.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.orders h2{
    font-size: x-large;
    flex-basis: 24%;
    margin: 0 rem;
}

.orders {
    font-size: medium;
    flex-basis: 24%;
    margin: 0 3rem;

}

